html, body {
	font: $font-size $font-family;
	line-height: (20 / 16);
	color: $font-color;
	width: 100%;
	overflow-x: hidden;
}

.page {
	position: relative;
	padding: 70px 20px 0;
	background: url('images/dotstars.png') top 250px center repeat-y,
				linear-gradient(to bottom, #0e1d43 0%, #0a1528 100%);
	width: 100%;
	overflow-x: hidden;
	
	@media (min-width: $screen-xs) {
		padding: 70px 35px 0;
	}
	
	@media (min-width: $screen-sm) {
		padding-top: 170px;
	}
	@media (min-width: $screen-md) {
		padding-top: 190px;
	}
}


.invis {
	//visibility: hidden;
	opacity: 0;
	transform: translateY(50%);
}