.stars {
	@include size(100%, 100px);
	@include absolute(top 0 left 0);
	z-index: 1;
	
	@media (min-width: $screen-sm) {
		@include size(100%, 200px);
	}
	@media (min-width: $screen-md) {
		@include size($container-md, 390px);
		left: 50%;
		margin-left: -1 * $container-md / 2;
	}
	
	&__item {
		position: absolute;
		@include size(20px, 55px);
		padding-top: 40px;
		
		@media (min-width: $screen-sm) {
			@include size(33px, 140px);
			padding-top: 110px;
		}
		@media (min-width: $screen-md) {
			@include size(33px, 385px);
			padding-top: 353px;
		}
		
		&-1 {
			top: -1px * (42 - 120);
			left: -250px;
			@media (min-width: $screen-sm) {
				top: -1px * (112 - 120);
			}
			@media (min-width: $screen-md) {
				top: -230px;
				left: -270px;
			}
		}
		
		&-2 {
			top: 5px;
			left: -200px;
		}
		
		&-3 {
			top: 0;
			left: 50px;
			
			@media (min-width: $screen-sm) {
				top: -1px * (112 - 170);
				left: -50px;
			}
			@media (min-width: $screen-md) {
				top: -180px;
				left: -55px;
			}
		}
		
		&-4 {
			top: -1px * (42 - 20);
			right: 145px;
			
			@media (min-width: $screen-sm) {
				top: -1px * (112 - 70);
				left: 85px;
			}
			@media (min-width: $screen-md) {
				top: -280px;
				left: 190px;
			}
		}
		
		&-5 {
			top: -1px * (42 - 30);
			left: 440px;
			
			@media (min-width: $screen-sm) {
				top: 0;
			}
			@media (min-width: $screen-md) {
				top: -240px;
				left: 545px;
			}
		}
		
		&-6 {
			@include size(52px, (40px + 71px));
			top: -1px * (42 - 37);
			right: 40px;
			padding-top: 28px;
			
			@media (min-width: $screen-sm) {
				@include size(74px, (110px + 102px));
				top: 0;
				padding-top: 96px;
			}
			@media (min-width: $screen-md) {
				@include size(128px, (355px + 176px));
				top: -175px;
				right: 25px;
				padding-top: 325px;
			}
		}
		
		&-7 {
			top: -1px * (42 - 175);
			right: -75px;
			@media (min-width: $screen-sm) {
				top: -1px * (112 - 175);
			}
			@media (min-width: $screen-md) {
				top: -175px;
				right: -95px;
			}
		}
		
		&-8 {
			top: -1px * (42 - 120);
			right: -270px;
			@media (min-width: $screen-sm) {
				top: -1px * (112 - 120);
			}
			@media (min-width: $screen-md) {
				top: -230px;
			}
		}
		
	}
	
	.line {
		@include size(2px, 40px);
		@include absolute(top 0 left 50%);
		margin-left: -1px;
		background: #060f25;
		z-index: -1;
		
		@media (min-width: $screen-sm) {
			height: 110px;
		}
		
		@media (min-width: $screen-md) {
			height: 355px;
		}
	}
	
	.star {
		display: block;
		@include size(100%);
		color: #fdc353;
		
		&--red {
			color: #f32b2b;
		}
	}
	.ball {
		@include size(100%);
	}
}